<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Survey Page</title>

    <link rel="stylesheet" href="../public/css/stylesheet.css">
</head>

<body>
    <header>
        <h1>My College Survey Web Page</h1>
        <table id="navbar">
            <th>
                <a href="survey_page" id="one">Survey</a>
            </th>
            <th>
                <a href="results" id="one">Results</a>
            </th>
        </table>
    </header>
    <hr>
    <main>
        <table>
            <tr>
            <th id="two">Name</th>
            <th id="two">college</th>
            <th id="two">Do you dorm?</th>
            <th id="two">Number of classes</th>
            <th id="two">Favorite class</th>
            <th id="two">Major</th>
            </tr>
            <td><%=</td>
            
        </table>
    </main>

</body>
</html>